# Ignore node_modules in both projects
FrontendProject/node_modules/
BackendProject/node_modules/

# Ignore backend environment variables
BackendProject/.env

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS / Editor files
.DS_Store
.vscode/
.idea/
